.cr {
    color: #fe5341;
}

.br {
    border: solid 1px #fe5341;
}

.cb {
    color: #81bf76;
}

.bb {
    border: solid 1px #81bf76;
}

.bgr {
    background-color: #fe5341;
}

.bgy {
    background-color: #fcf5c7;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}